<noscript>
    <div class="app-warningbox app-warningbox-no-js">
        <div class="container">
            This website won't work properly without JavaScript enabled. <br>
             Some content may be lost or not display correctly <br>
             <strong>Please enable Javascript</strong> to improve your experience.
        </div>
    </div>
</noscript>

<!--[if lte IE 8]>
    <div class="app-warningbox app-warningbox--outdated-browser">
        <div class="container">
            <h1 class="outdated__title">You are using an outdated browser.</h1>
            <h3 class="outdated__subtitle">Some content may be lost or not displayed correctly.</h3>
            <p class="outdated__description">Please consider upgrading to a more recent browser.</p>
            <a href="http://browsehappy.com/?locale={{ htmlLocale }}" target="_blank" class="outdated__link">Upgrade your browser</a>
        </div>
    </div>
<![endif]-->
